*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
parts/
src/*
!src/urban
var/
htmlcov/
.coverage
*.html
*.log
output.xml
*.swp
/.idea/
final_output.json
include/
lib/
locality_raw.json
pip-selfcheck.json
share/
/urban/
venv/